@model Web_API_Generator.Models.DataFieldViewModels

@{
    ViewBag.Title = "Delete_DataFieldType";
}

<h2>Delete_DataFieldType</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DataFieldViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Table.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lengh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lengh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nullable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nullable)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
