@model IEnumerable<Web_API_Generator.Models.TableViewModels>

@{
    ViewBag.Title = "Models_Database";
}

<h2>Models_Database</h2>

<p>
    @Html.ActionLink("Create New", "Add_Models_Database",new { id=ViewBag.ProjectID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit_Models_Database", new { id = item.Id }) |
            @Html.ActionLink("Details", "ProjectTable", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete_Models_Database", new { id = item.Id })
        </td>
    </tr>
}

</table>
